<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>All of the News</title>
</head>

<body>
<div id ="main">
<h1>What do you think?</h1>
	<div id = "story">
	<form id = "userthought">
		<input type="text" id="thought"
		placeholder="Comments"/>
		<button type="submit"  id="addcomment" placeholder ="Add Your Thoughts">
	</form>
	</div>
</div>
</body>
</html>